streamlit
selenium
webdriver-manager
plotly
streamlit-extras
pandas
matplotlib
streamlit-lottie
PyPDF2
wordcloud
langchain
openai==0.28
PyYAML
lxml
PyVirtualDisplay
seleniumbase
streamlit-tags
